* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
  color: azure;
}

img {
  animation: ctidle 0.5s infinite;
  animation: tridle 0.5s;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    0deg,
    rgba(34, 49, 78, 1) 40%,
    rgba(255, 162, 0, 1) 100%
  );
}

.container {
  width: 65vw;
  height: 70vh;
  background-color: #2a2a2a;
  border: 5px solid white;
  border-radius: 5px;
  padding: 30px;
  opacity: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  animation: load 5s forwards;
}

.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}

.gameopt {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

.opt {
  display: flex;
  width: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.opt img {
  margin-bottom: 10px;
  z-index: 2;
}

.opt.tr {
  /* border: 5px solid #ff1018; */
  position: relative;
}
.opt.ct {
  /* border: 5px solid #0081eb; */
  position: relative;
}

.opt.ct img {
  animation: ctidle 0.5s step-end infinite;
}
.opt.tr img {
  animation: tridle 0.5s step-end infinite;
}

.opt.ct:hover img {
  animation: cthover 0.5s infinite;
}

.opt.tr:hover img {
  animation: trhover 0.4s infinite;
}

.opt p {
  z-index: 2;
  font-size: 2rem;
  text-shadow: -1px 1px 0 #ffffff, 1px 1px 0 #ffffff, 1px -1px 0 #ffffff,
    -1px -1px 0 #ffffff;
}

.tr p {
  color: #ff1018;
}

.opt.tr:hover p {
  color: #85080c;
  transition: 300ms;
}

.ct p {
  color: #0081eb;
}

.opt.ct:hover p {
  color: #165588;
  transition: 300ms;
}

.play:hover {
  cursor: pointer;
  /* color: #ff9f1c; */
  text-shadow: 3px 3px 0px #00aeffb6;
  transition: 300ms;
}

.opt.ct:hover {
  transform: translateX(-30%) scale(1.15);
  transition: 1s;
}

.gameopt:has(.opt.ct:hover) .opt.tr {
  opacity: 10%;
  transition: 1s;
}

.opt.tr:hover {
  transform: translateX(30%) scale(1.15);
  transition: 1s;
}

.gameopt:has(.opt.tr:hover) .opt.ct {
  opacity: 10%;
  transition: 1s;
}
@keyframes ctidle {
  0%,
  100% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_000.png');
  }
  12.5% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_001.png');
  }
  25% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_002.png');
  }
  37.5% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_003.png');
  }
  50% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_004.png');
  }
  62.5% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_005.png');
  }
  75% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_006.png');
  }
  87.5% {
    content: url('./sprites/CT/png/1/idle/1_police_Idle_007.png');
  }
}

@keyframes tridle {
  0%,
  100% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_000.png');
  }
  12.5% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_001.png');
  }
  25% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_002.png');
  }
  37.5% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_003.png');
  }
  50% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_004.png');
  }
  62.5% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_005.png');
  }
  75% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_006.png');
  }
  87.5% {
    content: url('./sprites/TR/png/1/idle/1_terrorist_1_Idle_007.png');
  }
}

@keyframes cthover {
  0%,
  100% {
    content: url('./sprites/CT/png/1/attack/1_police_attack_Attack_000_000.png');
  }
  16.6% {
    content: url('./sprites/CT/png/1/attack/1_police_attack_Attack_000_001.png');
  }
  33.3% {
    content: url('./sprites/CT/png/1/attack/1_police_attack_Attack_000_002.png');
  }
  50% {
    content: url('./sprites/CT/png/1/attack/1_police_attack_Attack_000_003.png');
  }
  66% {
    content: url('./sprites/CT/png/1/attack/1_police_attack_Attack_000_004.png');
  }
  83.3% {
    content: url('./sprites/CT/png/1/attack/1_police_attack_Attack_000_005.png');
  }
}

@keyframes trhover {
  0%,
  100% {
    content: url('./sprites/TR/png/1/Attack2/1_terrorist_1_Attack2_000.png');
  }
  25% {
    content: url('./sprites/TR/png/1/Attack2/1_terrorist_1_Attack2_001.png');
  }
  50% {
    content: url('./sprites/TR/png/1/Attack2/1_terrorist_1_Attack2_002.png');
  }
  75% {
    content: url('./sprites/TR/png/1/Attack2/1_terrorist_1_Attack2_003.png');
  }
}

@keyframes trrun {
  0%,
  100% {
    content: url('./sprites/TR/png/1/run/1_terrorist_1_Run_000.png');
  }
  16.6% {
    content: url('./sprites/TR/png/1/run/1_terrorist_1_Run_001.png');
  }
  33.3% {
    content: url('./sprites/TR/png/1/run/1_terrorist_1_Run_002.png');
  }
  50% {
    content: url('./sprites/TR/png/1/run/1_terrorist_1_Run_003.png');
  }
  66% {
    content: url('./sprites/TR/png/1/run/1_terrorist_1_Run_004.png');
  }
  83.3% {
    content: url('./sprites/TR/png/1/run/1_terrorist_1_Run_005.png');
  }
}

@keyframes ctrun {
  0%,
  100% {
    content: url('./sprites/CT/png/1/run/1_police_Run_000.png');
  }
  16.6% {
    content: url('./sprites/CT/png/1/run/1_police_Run_001.png');
  }
  33.3% {
    content: url('./sprites/CT/png/1/run/1_police_Run_002.png');
  }
  50% {
    content: url('./sprites/CT/png/1/run/1_police_Run_003.png');
  }
  66% {
    content: url('./sprites/CT/png/1/run/1_police_Run_004.png');
  }
  83.3% {
    content: url('./sprites/CT/png/1/run/1_police_Run_005.png');
  }
}

@keyframes load {
  70% {
    opacity: 30%;
  }

  100% {
    opacity: 100%;
  }
}
#border {
  position: absolute;
  bottom: 0;
  left: 0;
  border: none;
  opacity: 0.8;
  /* border-radius: 10px; */
  z-index: 0;
  stroke-dashoffset: 1186px;
  stroke-dasharray: 1186px;
  -webkit-transition: stroke-dashoffset 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
  transition: stroke-dashoffset 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0s;
}

.tr.opt:hover #border,
.ct.opt:hover #border,
.ct.opt:has(input[value='true']) #border,
.tr.opt:has(input[value='true']) #border {
  stroke-dashoffset: 0;
}

.tr.opt:has(input[value='true']):not(:hover) img {
  animation: trrun 0.5s step-end infinite;
}
.ct.opt:has(input[value='true']):not(:hover) img {
  animation: ctrun 0.5s step-end infinite;
}
